doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Weather Map
    link(rel='stylesheet', href='./css/app.css')
  body
    #map
    #controls
      input#zip(text='area', autofocus='true', placeholder='Zip Code')
      button#add Add
    #charts

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src="http://www.amcharts.com/lib/3/amcharts.js")
    script(src="http://www.amcharts.com/lib/3/serial.js")
    script(src="http://www.amcharts.com/lib/3/themes/dark.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-FkT4q3IBmmEB8hD9KhaMG2hiUG929OU&sensor=true")
    script(src='./js/es6/main.js')
